<!-- Show Items modal-->
<div class="modal fade" id="dungeonHabitatListModal" tabindex="-1" role="dialog"
     aria-labelledby="dungeonHabitatListLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <!-- ko using: App.game.statistics.selectedDungeon(), as: 'dungeon' -->
            <div class="modal-header">
                <!-- TODO: Add shiny and pokerus statuses if habitat list is made -->
                <h4 class="modal-title" data-bind="text: `${dungeon.name} (${GameConstants.camelCaseToString(GameConstants.Region[dungeon.region])})`">
                    Dungeon and region names
                </h4>
            </div>

            <div class="modal-body p-0">
                <div class="row justify-content-center mw-100 p-0 m-0 habitat-list" id="dungeon-habitat-list" data-bind="foreach: { data: dungeon.pokemonList, as: 'pokemon'}">
                    <!-- Enemy Entry -->
                    <div class="col-sm-4 col-md-3 col-lg-2 pokedexEntry"
                        data-bind="style: { background: !pokemon.trainer && !pokemon.lock ? PokedexHelper.getBackgroundColors(pokemon.name) : 'grey' }, 
                            using: PokemonHelper.getPokemonByName(pokemon.name).id, as: 'pokemonID',
                            hidden: pokemon.hide">

                        <!-- ko using: App.game.party.alreadyCaughtPokemonByName(pokemon.name), as: 'caughtPokemon' -->

                        <!-- Pokemon ID / Trainer -->
                        <span class="pokemon-id" data-bind="text: (pokemon.trainer ? 'Trainer' : ('#' + (pokemonID > 0 && !pokemon.lock ? Math.floor(pokemonID) + '' : '???').padStart(3, 0)))">number</span>

                        <!-- ko if: caughtPokemon && !pokemon.lock -->

                        <!-- Pokemon Caught Status -->
                        <!-- ko using: PartyController.getCaughtStatus(pokemonID), as: 'caughtStatus' -->
                        <knockout class="caught-status-icon" data-bind="template: { name: 'caughtStatusTemplate', data: {'status': caughtStatus}}"></knockout>
                        <!-- /ko -->

                        <!-- Pokemon Pokerus Status -->
                        <!-- ko using: App.game.party.getPokemon(pokemonID)?.pokerus, as: 'pokerusStatus' -->
                        <div class="pokerus-status" data-bind="if: pokerusStatus">
                            <knockout data-bind="template: { name: 'pokerusStatusTemplate', data: { 'pokerus': pokerusStatus, 'width': '32px' } }">Pokerus icon</knockout>
                        </div>
                        <!-- /ko -->

                        <!-- /ko -->

                        <!-- ko using: PokedexHelper.pokemonSeen(pokemonID)(), as: 'pokemonSeen' -->

                        <!-- Enemy Sprite -->
                        <img src="" width="" data-bind="css: { 
                            'pokemon-not-seen': (!pokemonSeen && !pokemon.trainer) || pokemon.lock, 
                            'pokemon-seen-but-not-caught': !caughtPokemon && pokemonSeen && !pokemon.trainer 
                        }, 
                        attr:{ 
                            src: pokemonID ? PokemonHelper.getImage(pokemonID) : pokemon.image,
                            width: !pokemon.trainer ? '96px' : '80px',
                            style: pokemon.trainer ? 'padding: 24px 0;' : '',
                        }"
                        onerror="this.src='assets/images/trainers/Mysterious Trainer.png';">

                        <!-- Enemy Name -->                        
                        <!-- ko if: pokemonSeen && !pokemon.lock -->
                        <span class="enemy-name" data-bind="using: PokemonHelper.displayName(pokemon.name)(), as: 'displayName'">
                            <knockout data-bind="text: displayName, css: { 'marquee': displayName.length > 18 }">name</knockout>
                        </span>
                        <!-- /ko -->

                        <!-- /ko -->

                        <!-- Dungeon Boss Icon -->
                        <!-- ko if: pokemon.boss -->
                        <div class="item-icon-container item-icon-left">
                            <div class="item-icon rounded-circle" data-bind="tooltip: { title: 'Dungeon Boss', trigger: 'hover', placement: 'top', boundary: 'window' }">
                                <img class="mw-100 mh-100 p-0" src="" width="24px" style="vertical-align: unset;" data-bind="attr: {src: 'assets/images/dungeons/boss.svg'}">
                            </div>
                        </div>
                        <!-- /ko -->

                        <!-- Mimic Pokemon Icon -->
                        <!-- ko if: pokemon.mimic -->
                        <div class="item-icon-container item-icon-left">
                            <div class="item-icon rounded-circle" data-bind="tooltip: { title: 'Mimic Pokémon', trigger: 'hover', placement: 'top', boundary: 'window' }">
                                <img class="mw-100 mh-100 p-0" src="" width="24px" style="vertical-align: unset;" data-bind="attr: {src: 'assets/images/dungeons/chest.png'}">
                            </div>
                        </div>
                        <!-- /ko -->

                        <!-- Lock Icon -->
                        <img class="lock" src="assets/images/breeding/lock.svg" style="filter: drop-shadow(2px 4px 6px black);" data-bind="hidden: !pokemon.lock,
                        tooltip: {
                            title: pokemon.lockMessage,
                            placement: 'bottom',
                            trigger: 'hover',
                            boundary: 'window'
                        }">

                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
