<div class="modal fade" id="pokeballSelectorModal" tabindex="-1" role="dialog"
  aria-labelledby="PokeballSelectorModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pokeballSelectorModalLabel">Poké Ball Selection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="bg-danger p-1 text-center" data-bind="text: `Selected Filter: ${App.game.pokeballs.selectedTitle()}`"></div>
        <div class="card-body show text-left p-3">
          <div class="row justify-content-center">
            <div class="col-6 col-md-4 mb-2" data-bind="">
              <div class="btn text-left w-100 px-1 d-flex align-items-center" style="padding-top: 1px; padding-bottom: 1px; min-height: 46px;"
                  data-bind="template: { name: 'pokeballSelectionTemplate', data: { 'image': 'None', 'type': -1, 'description': 'Do not catch' } },
                      click: () => { App.game.pokeballs.selectedSelection()?.(GameConstants.Pokeball.None); },
                      css: {
                        'btn-primary': App.game.pokeballs.selectedSelection()?.() === -1,
                        'btn-secondary': App.game.pokeballs.selectedSelection()?.() !== -1,
                      }">
              </div>
            </div>
            <!-- ko foreach: App.game.pokeballs.pokeballs -->
            <div class="col-6 col-md-4 mb-2" data-bind="visible: $data.unlocked() || $data.quantity()">
                <div class="btn text-left w-100 px-1 d-flex align-items-center" style="padding-top: 1px; padding-bottom: 1px; min-height: 46px;"
                    data-bind="template: { name: 'pokeballSelectionTemplate', data: $data },
                        click: () => { App.game.pokeballs.selectedSelection()?.($data.type); },
                        css: {
                          'clickable': !($data.type === GameConstants.Pokeball.Masterball && App.game.challenges.list.disableMasterballs.active()),
                          'disabled no-click text-muted': ($data.type === GameConstants.Pokeball.Masterball && App.game.challenges.list.disableMasterballs.active()),
                          'btn-primary': App.game.pokeballs.selectedSelection()?.() === $data.type,
                          'btn-secondary': App.game.pokeballs.selectedSelection()?.() !== $data.type,
                        }">
                </div>
            </div>
            <!-- /ko -->
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="pokeballSelectionTemplate">
  <div class="d-flex w-100 align-items-center" data-container="body" data-bind="tooltip: {
      title: $data.type !== -1 ? `<u>${ItemList[GameConstants.Pokeball[$data.type]].displayName}</u> ×${$data.quantity().toLocaleString('en-US')}<br/>${$data.description || ''}<br/><u>Catch time</u>: ${$data.catchTime / 1000} ${GameConstants.pluralizeString('second', $data.catchTime / 1000)}` : '',
      trigger: 'hover',
      placement:'top',
      html: true,
      boundary: document.getElementById('pokeballSelectorModal'),
  }">
  <img width="32px" data-bind="attr: { src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.type] + '.svg'}">
    <div class="flex-grow-1 small align-self-center ml-2" style="min-width: 0;">
        <div class="text-truncate" data-bind="text: $data.type !== -1 ? ItemList[GameConstants.Pokeball[$data.type]].displayName : 'Do not catch'"></div>
        <div data-bind="visible: $data.type !== -1, text: $data.quantity && $data.quantity() ? GameConstants.formatNumber($data.quantity()) : '-'"></div>
    </div>
  </div>
</script>
